.banner{
  background-image: url(/assets/img/page-banner-investment.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size:cover;  
  width: 100%;
  padding-top: 1%;  
}

  #container {
    position: relative;
    height: 100%;
    width: 100%;
  }
