.banner{
  background-image: url(/assets/img/page-banner-investment.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size:cover;  
  position: absolute;
  width: 100%;
  top: 13%;  
}

#container {
  position: relative;
  margin-left: 26%;
  height: 100%;
  width: 50.1%;
}