<div [ngClass]="'searchPanel'">
    <mat-form-field [style.width.px]=400>
      <input matInput placeholder="Search your fund" (keyup)="onKeySearch(keywordSearchElement.value)" #keywordSearchElement>
    </mat-form-field>
</div>

<div [ngClass]="'panel'">
    <div>
    <table  class="table">
        <thead>
            <tr>
              <th scope="col">Fund Name</th>
              <th scope="col">Nav</th>
            </tr>
        </thead>
        <tr *ngFor="let mutualFund of dynamicFilterAndAllMutualFund">
          <td align="left">{{ mutualFund.SchemeName }}</td>
          <td>{{ mutualFund.NetAssetValue }}</td>
       </tr>
    </table>
    </div>
    <div *ngIf="!show" class="loader"></div>
  </div>
  
  

