.fundspanel{
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}
.parent-fundspanel{
    height: 100%;
}
.searchPanel{
    position: relative;
}

.panelFunds{

    overflow:scroll;
    height:300px;
    width:400px;
    position: absolute;
    top:40px;
    background-color: white;    
    z-index : 1;
}

ul{
    list-style-type: none
}

.mat-header-cell {
    font-size: 20px;
    padding-left: 8px;
    text-align: left;
}

.mat-cell{
    text-align: left !important;
    padding-left: 9px;
}

.mutual-fund-panel{
    padding-top: 1%;
    position: relative;
    height: 82%;
    width: 65%;
    margin-left: 19%;
}