.panel{

    overflow:scroll;
    height:300px;
    width:400px;
    position: absolute;
    top:50px;
    z-index : 0;
}

.searchPanel{

    height:30px;
    width:400px;
    position: absolute;
    top:10px;
}

.panelFunds{

    overflow:scroll;
    height:300px;
    width:400px;
    position: absolute;
    top:40px;
    background-color: white;    
    z-index : 1;
}

ul{
    list-style-type: none
}
