.fundspanel{

    overflow:scroll;
    height:300px;
    width:1000px;
    position: absolute;
    top:80px;
    z-index : 0;
    left: 320px;
    background-color: white;
    overflow-x: hidden;
}

.searchPanel{

    height:30px;
    width:400px;
    position: absolute;
    top:30px;
}

.panelFunds{

    overflow:scroll;
    height:300px;
    width:400px;
    position: absolute;
    top:40px;
    background-color: white;    
    z-index : 1;
}

ul{
    list-style-type: none
}

.mat-header-cell {
    font-size: 20px;
}

.mat-cell,
.mat-header-cell
{
flex: 0 0 70%;
}

