<div class="mutual-fund-panel">
<div [ngClass]="'searchPanel'">
    <mat-form-field [style.width.%]=72>
      <input matInput placeholder="Search your fund" (keyup)="onKeySearch(keywordSearchElement.value)" #keywordSearchElement>
    </mat-form-field>
</div>
<div class="parent-fundspanel">
<div class="fundspanel">
    <mat-table   [dataSource]="dynamicFilterAndAllMutualFund" class="mat-elevation-z8">
      <!-- Scheme Column -->
    <ng-container matColumnDef="SchemeName">
      <mat-header-cell *matHeaderCellDef> Fund Names </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.SchemeName}} </mat-cell>
    </ng-container>
  
    <!-- NAV Column -->
    <ng-container matColumnDef="NetAssetValue">
      <mat-header-cell  *matHeaderCellDef> Net Asset Value </mat-header-cell>
      <mat-cell  *matCellDef="let element"> {{element.NetAssetValue}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row title="click to register for SIP" *matRowDef="let row; columns: displayedColumns;let i= index" (click)="openRegisterForm(i)"></mat-row>
    </mat-table>
    <mat-progress-bar *ngIf="!show"  mode="indeterminate"></mat-progress-bar>
</div>
</div>
</div>
  
  

