<div class="newsdiv">
    <div class="newsContent">
        <ng-container *ngFor="let news of articleObservable|async">
            <div class="articlecontent">
                <div>
                    <h3><a [href]="news.url">{{news.title}}</a></h3>
                </div>
                <div>
                    {{news.description}}
                </div>
                <div>
                    {{news.publishedat}}
                </div>
            </div>
        </ng-container>
    </div>
</div>