.newsdiv{
    margin-top: 40px;
    background-color:#f5f5f5;
}

.newsContent{
    text-align: left;
    overflow-y: auto;
    height: 430px;
    padding: 20px;
    width: 100%;
}

.articlecontent{
    padding: 10px;
}

.imagesize{
    width: 106px;
}

.imagediv{
    width: 200px;
    height: 100px;
    padding-top: 22px;
}


.myContent{
    display: flex
}

.contentdiv{
    padding: 5px;
}