<div class="newsdiv">
    <div class="newsContent">
        <ng-container *ngFor="let news of articleObservable|async">
            <ul class="articlecontent list-group">
                <li class="list-group-item">
                    <h3><a [href]="news.url" target="_blank">{{news.title}}</a></h3>
                </li>
                <li class="list-group-item">
                    {{news.description}}
                </li>
                <li class="list-group-item">
                    <span style="font-style:italic;">Author:-{{news.author}}</span>
                </li>
            </ul>
        </ng-container>
    </div>
</div>