<nav class="topicsnavbar navbar-expand-sm">
  <div class="topics_navbar-nav">
    <a id="main">
      <button id="menu" class="openbtn" (click)="openNav()">Menu</button>
    </a>
    <div id="nav-bar-horizontal">
      <ul class="nav-bar-horizontal-child">
        <li class="nav-item">
          <a class="labelcolor" [routerLink]="routerLink[2]">Home</a>
        </li>
        <li class="nav-item">
          <a class="labelcolor" data-toggle="dropdown">My Account</a>
          <div class="dropdown-nav-item-menu">
            <a class="dropdown-item labelcolor" [routerLink]="routerLink[0]"
              (click)=doPreTask(routesNames[0])>LogOut</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="labelcolor" data-toggle="dropdown">SIP Investment</a>
          <div class="dropdown-nav-item-menu">
            <a class="dropdown-item labelcolor" [routerLink]="routerLink[1]">All Mutual Fund</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="labelcolor" href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- below code is for medium and small size screens-->
<div  id="mySidebar" class="sidebar" clickOutside>
  <div class="topics_navbar-nav">
    <ul class="nav-sidebr">
      <li class="nav-item-sidebr">
        <a class="labelcolor" [routerLink]="routerLink[2]">Home</a>
      </li>
      <li class="nav-item-sidebr">
        <a href="#accountmenu" class="labelcolor" data-toggle="collapse">My Account</a>
        <div id='accountmenu' class="collapse">
          <a class="labelcolor" [routerLink]="routerLink[0]" (click)=doPreTask(routesNames[0])>LogOut</a>
        </div>
      </li>
      <li class="nav-item-sidebr">
        <a href="#investmentmenu" class="labelcolor" data-toggle="collapse">SIP Investment</a>
        <div id='investmentmenu' class="collapse">
          <a class="labelcolor" [routerLink]="routerLink[1]">All Mutual Fund</a>
        </div>
      </li>
      <li class="nav-item-sidebr">
        <a class="labelcolor" href="#">About us</a>
      </li>
    </ul>
  </div>
</div>