
.nav-item:hover > .dropdown-nav-item-menu {
  display: block;
}

.topics_navbar-nav {
    width: 100%!important;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 100%;
    padding-top: 0.35%;
}

.nav-item {
 width:100%;
}

.topicsnavbar
{   
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 37px;
}


.sidebar {
  background-color: gainsboro;
  width: 0;
  height: 44%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.sidebar a {
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-top: 8%;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 8px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 0px!important;
}

.openbtn:hover {
  background-color: #444;
}

@media only screen and (max-width: 1057px) {
  #nav-bar-horizontal{
    display: none;
  }
}

@media only screen and (min-width: 1057px) {
  #mySidebar
  {
    display: none;
  }
  #main{
    display: none;
  }
}


.dropdown-nav-item-menu{
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
}

.nav-item-sidebr{
  width: 100px;
  margin-top: 10%;
}

.dropdown-nav-item-sidebr{
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
}

.dropdown-nav-item-sidebr.show {
  display: block;
}


#nav-bar-horizontal{
  width: 100%;
}


.nav-bar-horizontal-child {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 100%;
  width: 38%;
}

.nav-sidebr{
  height: 24px;
  list-style: none;
  padding: 0;
}