
  <div class="topics_navbar-nav bg-dark">
    <div>
    <a id="main">
      <button id="menu" class="openbtn bg-dark" (click)="openNav()"><span class="dark-blue-text"><i
        class="fas fa-bars fa-2x"></i></span></button>
    </a>
    </div>
    <div id="main2" style="text-align: center">
      <div style="display: inline-block">
      <ul class="nav-bar-horizontal-child clearfix">
        <li *ngFor="let label of labels;let i=index">
          <div class="optiondiv"><a [routerLink]="routerLink[i]" (click)=doPreTask(routesNames[i])>{{label}}</a></div>
        </li>
      </ul>
    </div>
    </div>
  </div>

<!-- below code is for medium and small size screens-->
<div  id="mySidebar" class="sidebar bg-dark" clickOutside>
  <div class="topics_navbar-nav">
    <ul class="nav-sidebr">
      <li class="nav-item-sidebr">
        <a class="labelcolor" [routerLink]="routerLink[2]">Home</a>
      </li>
      <li class="nav-item-sidebr">
        <a href="#accountmenu" class="labelcolor" data-toggle="collapse">My Account</a>
        <div id='accountmenu' class="collapse">
          <a class="labelcolor" [routerLink]="routerLink[0]" (click)=doPreTask(routesNames[0])>LogOut</a>
        </div>
      </li>
      <li class="nav-item-sidebr">
        <a href="#investmentmenu" class="labelcolor" data-toggle="collapse">Investment</a>
        <div id='investmentmenu' class="collapse">
          <a class="labelcolor" [routerLink]="routerLink[1]">All Mutual Fund</a>
        </div>
      </li>
      <li class="nav-item-sidebr">
        <a class="labelcolor" href="#">About us</a>
      </li>
    </ul>
  </div>
</div>