.panel{
    overflow:auto;
    height: 350px;
    background-color: white;
    margin-top: 3%;
}
.myValue li:hover { 
    background-color:rgb(192, 192, 192);
}

.headingStyle{
    height: 40px;
    position: relative;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mydiv{
    padding-top: 1%;
    position: relative;
    height: 82%;
    width: 65%;
    margin-left: 19%;
}

@media only screen and (max-width: 400px) {
.componentTitle{
    font-size: 17px;
}
}

@media only screen and (min-width: 401px) {
    .componentTitle{
        font-size: 27px;
    }
}