.panel{

    overflow:scroll;
    height:200px;
    width:400px;
    position: absolute;

}

.myValue li:hover { 
    background-color:rgb(192, 192, 192);
  }

.headingStyle{
    height:100px;
    width:350px;
    position: relative;
}

.mydiv{
    height:400px;
    width:450px;
    position: relative;
    padding-top: 0px;
}


