.panel{

    overflow:scroll;
    height:280px;
    width:1000px;
    position: absolute;
    

}

.myValue li:hover { 
    background-color:rgb(192, 192, 192);
  }

.headingStyle{
    height:50px;
    font-size: 30px;
    position: relative;
}

.mydiv{
    height:400px;
    width:1000px;
    position: absolute;
    padding-top: 0px;
    left: 320px;
}
