
.registration-container>mat-form-field{
   width: 70%;
}


.loginform{
    width:540px;
}
.loginform>h3{
    text-align: left;
}

.loginform>.errormessage>h1{
    font-size: 23px;
    text-align: left;
}