

<div class="loginform">
<div class="errormessage">
    <h1 [ngStyle]="{color:getStatusOfSignUp()}">{{messageStatus}}</h1>
</div>
<h3 class="labelcolor">
    Login
</h3>
<form [formGroup]="loginFormVal" (ngSubmit)="onSubmit(loginFormVal.value)">
<div class="registration-container">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput  formControlName="email">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput  formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">LOGIN</button>
    <br>
    <button mat-raised-button color="primary" (click)="openSignUpForm()">SIGNUP</button>
</div>
</form>
</div>

