.registration-container>input{
   width: 100%;
}

h3{
    text-align: left;
}

.loginform>.errormessage>h1{
    font-size: 23px;
    text-align: left;
}

.errormessage{
    width:350px;
    height: 50px;
}

.form-field{
    padding-top: 7px;
    height: 45px;
    text-align: left;
}
.loginblock{
    padding: 10%;
}

.loginform{
    padding-left: 20%;
    width: 75.2%;
}