
<h3>
  SIP Registration
</h3>
<form class="sip-reg-container">
    <mat-form-field>
        <mat-label>Select Scheme </mat-label>
        <input matInput [(ngModel)]=data.schemename name="schemename">
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>Select Frequency</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput>
      </mat-form-field>

      <mat-form-field>
          <mat-select>
            <mat-option  *ngFor="let date of dates" [value]="date">
              {{date}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <div class="submitbutton">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
</form>

